{% extends 'base.html.twig' %}

{% block title %}Adherent index{% endblock %}

{% block body %}
    <h1>Adherent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_sante</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adherent in adherents %}
            <tr>
                <td>{{ adherent.id }}</td>
                <td>{{ adherent.numSante }}</td>
                <td>
                    <a href="{{ path('app_adherent_show', {'id': adherent.id}) }}">show</a>
                    <a href="{{ path('app_adherent_edit', {'id': adherent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adherent_new') }}">Create new</a>
{% endblock %}
