{% extends 'baseAdherent.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}



    <style>
        a {
            text-decoration: none;
            color: #1b1e24;
        }

        body {
            font-family: "Open Sans", arial;
            text-align: center;
        }

        table {
            width: 100%;
            max-width: 600px;
            height: 320px;
            border-collapse: collapse;
            border: 1px solid #000000;
            margin: 50px auto;
            background: white;
        }

        th {
            background: #aa24c0;
            height: 54px;
            width: 25%;
            font-weight: lighter;
            color: white;
            box-shadow: inset 1px 1px 1px #000000;
            transition: all 0.2s;
        }

        tr {
            border-bottom: 1px solid #000000;
        }

        tr:last-child {
            border-bottom: 0px;
        }

        td {
            border-right: 1px solid #090909;
            padding: 10px;
            transition: all 0.2s;
        }

        td input {
            font-size: 14px;
            background: none;
            outline: none;
            border: 0;
            display: table-cell;
            height: 100%;
            width: 100%;
        }

        h1 {
            text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            text-decoration: underline;
        }
    </style>
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Liste Séances Collectives</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Cours n°</th>
                        <th>Nom Seance</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscription in inscriptions %}
                        <tr>
                            <td>{{ inscription.id }}</td>
                            <td>{{ inscription.seancecollective.nomSeanceCollective }}</td>
                            <td>{{ inscription.seancecollective.datecollective ? inscription.seancecollective.datecollective|date('d-m-Y', 'Europe/Paris') : '' }}</td>
                            <td>{{ inscription.seancecollective.datecollective ? inscription.seancecollective.datecollective|date('H:i', 'Europe/Paris') : '' }}</td>


                            <td>
                                <form method="post" action="{{ path('app_inscription_edit', {'id': inscription.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr(e) de vouloir modifier cet élément ?');">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('modifier' ~ inscription.id) }}">
                                    <button class="btn">Modifier</button>
                                </form>
                                <br>
                                <form method="post"
                                      action="{{ path('app_inscription_delete', {'id': inscription.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément ?');">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ inscription.id) }}">
                                    <button class="btn">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucune séance enregistrée</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <th colspan="5">
                            <a href="{{ path('app_inscription_new') }}">
                                <button id="btnAdd" type="button" class="btn btn-primary" data-toggle="tooltip"
                                        data-original-title="Add more controls">&nbsp; S'inscrire Séance Collective&nbsp;
                                </button>
                            </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
