{% extends 'base.html.twig' %}

{% block title %}SeanceCollective{% endblock %}

{% block body %}
    <h1>Séance Collective</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ seance_collective.id }}</td>
            </tr>
            <tr>
                <th>Places disponibles</th>
                <td>{{ seance_collective.nbPlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_seance_collective_index') }}">Retour</a>

    <a href="{{ path('app_seance_collective_edit', {'id': seance_collective.id}) }}">Modifier</a>

    {{ include('seance_collective/_delete_form.html.twig') }}
{% endblock %}
