{% extends 'base.html.twig' %}

{% block title %}FicheSante index{% endblock %}

{% block body %}

    <style>
        a {
            text-decoration: none;
            color: #1b1e24;
        }
        body {
            font-family: "Open Sans", arial;
            text-align: center;
        }
        table {
            width: 100%;
            max-width: 600px;
            height: 320px;
            border-collapse: collapse;
            border: 1px solid #000000;
            margin: 50px auto;
            background: white;
        }
        th {
            background: #aa24c0;
            height: 54px;
            width: 25%;
            font-weight: lighter;
            color: white;
            box-shadow: inset 1px 1px 1px #000000;
            transition: all 0.2s;
        }
        tr {
            border-bottom: 1px solid #000000;
        }
        tr:last-child {
            border-bottom: 0px;
        }
        td {
            border-right: 1px solid #090909;
            padding: 10px;
            transition: all 0.2s;
        }

        td input {
            font-size: 14px;
            background: none;
            outline: none;
            border: 0;
            display: table-cell;
            height: 100%;
            width: 100%;
        }
        h1 {
            text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            text-decoration: underline;
        }
    </style>

    <h1>Fiche de Santé</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poids</th>
                <th>Taille</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_sante in fiche_santes %}
            <tr>
                <td>{{ fiche_sante.id }}</td>
                <td>{{ fiche_sante.poids }}</td>
                <td>{{ fiche_sante.taille }}</td>
                <td>{{ fiche_sante.date ? fiche_sante.date|date('Y-m-d') : '' }}</td>
                <td>


                    <form method="post" action="{{ path('app_fiche_sante_edit', {'id': fiche_sante.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ fiche_sante.id) }}">
                        <button class="btn">Modifier</button>
                    </form>
                    <br>
                    <form method="post" action="{{ path('app_fiche_sante_delete', {'id': fiche_sante.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_sante.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune fiche de santé</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="5">
                <a href="{{ path('app_fiche_sante_new') }}">
                    <button id="btnAdd" type="button" class="btn btn-primary" data-toggle="tooltip" data-original-title="Add more controls">&nbsp; Nouvelle Fiche de Santé&nbsp;</button>
                </a>
            </th>
        </tr>
        </tbody>
    </table>


{% endblock %}
