{% extends 'base.html.twig' %}

{% block title %}FicheSante{% endblock %}

{% block body %}
    <h1>FicheSante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche_sante.id }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ fiche_sante.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ fiche_sante.taille }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ fiche_sante.date ? fiche_sante.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fiche_sante_index') }}">back to list</a>

    <a href="{{ path('app_fiche_sante_edit', {'id': fiche_sante.id}) }}">edit</a>

    {{ include('fiche_sante/_delete_form.html.twig') }}
{% endblock %}
