
{% block body %}
    <h1>FicheSante</h1>

    <table class="table">

        <tbody>
        {% for fiche in fiche_sante %}
            <tr>
                <th>Id</th>
                <td>{{ fiche.id }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ fiche.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ fiche.taille }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ fiche.date ? fiche.date|date('Y-m-d') : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="button" value="Retour" onclick="history.go(-1)">


    {#    <a href="{{ path('app_fiche_sante_index') }}">Retour à la liste</a>#}

{#    <a href="{{ path('app_fiche_sante_edit', {'id': fiche_sante.id}) }}">Modifier</a>#}

{#    {{ include('fiche_sante/_delete_form.html.twig') }}#}
{% endblock %}
